
.main-container{
    background-color:#eee
}

.salon-logo{
    display: block;
    margin:80px auto 10px;
    width: 125px;
}
.logo-top{
    width: 200px;
}
.navbar-brand{
    padding: 5px;
}

h1{
    font-family: HelveticaMdC,sans-serif;
    font-size:34px;
}
h2{
    font-family: HelveticaBdC,sans-serif;
    font-size:22px;
}
h4{

    font-family: HelveticaTh,sans-serif;
    font-size:12px;

}

.main-wrapper{

}

.side-menu{
    width:250px
}

.side-menu h1{
    text-align: center;
}

.side-menu h4{
    text-align: center;
    margin-bottom: 60px;
}
.logout-button{
    width:230px
}

@media only screen
and (min-device-width : 1px)
/*and (min-device-width : 768px)*/
/*and (max-device-width : 1024px)*/
{
    .side-menu{
        width:150px
    }
    .side-menu h1{
        font-size: 24px;
    }
    .logout-button{
        width:130px
    }
    .salon-logo{
        margin:80px auto 10px;
        width: 75px;
    }
    .main-wrapper{

    }
    .side-menu-links-container{
        font-size: 14px;
        margin: 5px 0;
        padding-left: 5px;
    }
}

    .profile-dropdown{
    position:absolute;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.today-appointments{
    display: inline-block;
    width:96%;
    margin:2%;
    background-color: white;
    font-weight: 800;
    padding: 20px 20px;
    font-family: HelveticaBdC,sans-serif;
    font-size:22px;
}

.trending-news{
    display: inline-block;
    float: right;
    width: 24%;
    background-color: white;
    margin: 2% 2% 2% 0;
    padding: 20px 20px;
    font-family: HelveticaBdC,sans-serif;
    font-size:28px;
}
.post-image{
    width:20%;
}

.calendar-container{
    float: left;
    width: 96%;
    background-color: white;
    margin: 0 2%;
    padding: 20px 20px 20px;
    min-height: 800px;
}
.calendar-container h1{
    font-family: HelveticaBdC,sans-serif;
    font-size:22px;
    text-align: left;
    margin-top: 0;
}

.dialog-title{
    font-weight: 800;
    font-family: HelveticaBdC,sans-serif;
    font-size:22px;
}
.register-customer-searchbox{
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
    float:right;
    height: 50px;
    width:100%;
    padding:10px 20px
}
.register-total{
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: #eee;
    float:right;
    width:100%
}

.total-span{
    padding-left: 400px;
    margin-top: 5px;
}

.register-total h4{
    font-size: 20px;
    color:#666;
    float:left
}

.register-total span{
    font-size: 20px;
    padding-left: 60px;
    padding-bottom: 15px;
    font-weight: 800;
    font-family: Roboto,sans-serif;
}

.register-customer-box{
    border-top: 1px solid rgb(224, 224, 224);
    margin-top: 10px;
}

.register-customer-box img{
    width: 40px;
    margin-right: 10px;
}
.register-customer-box span{
    padding-top: 8px;
    padding-right: 15px;
    float: right;
}

.service-minibox{
    width: 100px;
    height: 110px;
    float:left;
    cursor:pointer;
    overflow: hidden;
    margin-bottom: 15px;
}

.service-minibox img{
    width: 80px;
    height: 80px;
    background-position: center center;
    background-size: cover;
    margin:0 10px;
}

.register-services-container{
    padding: 0 20px;
}

.full-width-container{
    margin: 2%;
    width: 96%;
    background-color: white;
}

.no-pay-register-container{
    padding: 100px;
    color: #333
}

.anonymous-container{
    padding: 40px 100px;
    font-size: 30px;
    color: #333
}

.payment-type-register-container{
    padding: 40px 100px;
    color: #333
}

.cashed-services-div{
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #efefef;
    padding: 10px;
    width: 551px;
}

.services-p-title{
    background-color: #efefef;
    font-size: 15px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 3px;
    font-weight:bold;
}

.pay-buttons-container{
    width: 50%;
    margin:auto;
    padding: 0 92px;
}
.nextappointment-buttons-container{
    width: 100%;
    margin:auto;
    text-align: center;
}

.minibox-label{
    text-align: center;
    margin: 5px;
    font-weight:800;
}

.cancelappointment-buttons-container{
    width: 100%;
    margin:auto;
    text-align: center;
}
.carousel-img-cont{
    width:25%;
    float:left;
}
.carousel-text-cont{
    width:75%;
    float: right;

}

/*@font-face {*/
    /*font-family: "HelveticaBdC";*/
    /*src: url('http://test.heliocor.com/magnifique/fonts/helvetica_bd_cond.otf') format("opentype");*/
/*}*/

/*@font-face {*/
    /*font-family: "HelveticaTh";*/
    /*src: url('http://test.heliocor.com/magnifique/fonts/helvetica_th.otf') format("opentype");*/
/*}*/

/*@font-face {*/
    /*font-family: "HelveticaMdC";*/
    /*src: url('http://test.heliocor.com/magnifique/fonts/helvetica_med_cond.otf') format("opentype");*/
/*}*/

@font-face {
    font-family: "HelveticaBdC";
    src: url('/fonts/helvetica_bd_cond.otf') format("opentype");
}

@font-face {
    font-family: "HelveticaBd";
    src: url('/fonts/helvetica_bd.otf') format("opentype");
}

@font-face {
    font-family: "HelveticaTh";
    src: url('/fonts/helvetica_th.otf') format("opentype");
}

@font-face {
    font-family: "HelveticaMdC";
    src: url('/fonts/helvetica_med_cond.otf') format("opentype");
}

@font-face {
    font-family: "HelveticaMd";
    src: url('/fonts/helvetica_med.otf') format("opentype");
}

