.App {
  text-align: center;
}

body{
  background-color: #eee;
  font-family: HelveticaTh,sans-serif;
}

.img-circle {
  border-radius: 50%;
}

/*StatisticsPage*/

#chart-container{
  text-align: center;
}

/*TillPage*/
#clearButton{
  width: 14px !important;
  height: 14px !important;
}

/*CampaignsPage*/
.RichTextEditor__editor___1QqIU .public-DraftEditor-content{
  overflow: hidden !important;
}

/*WeekCalendar*/
#h1days{
  display: inline-block;
  font-size: 2vw;
  padding: 1%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  width: 14%;
}

/*DayCalendar*/
.day-container{
  margin-top: 53px;
}

.calendar-hour{
  border: 1px solid #b9b9b9;
  border-top-color: #fff;
  border-left-color: #eee;
  color: #666;
}

.day-header{
  max-width: 100%;
  background-color: #e6e2e2;
  display: block;
  height:50px;
}

.top-container{
  width: 100%;
  text-align: center;
  background-color: #465871;
  color: #ffffff;
  font-size: 16px;
}

.handle{
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  transition-timing-function: ease-out;
}

.dressersCells{
  background-color: #05a5b8;
  color: #eee;
  border: 1px solid #008798;
  border-top-color: #05a5b8;
  border-left-color: #19b9cc;
  padding: 5px;
  font-family: HelveticaMdC,sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.dresserPhoto{
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.leftContainer{
  float: left;
  width: 10%;
  background-color: #e6e2e2;
  text-align: center;
  position: relative;
}

.calendar-top-left{
  border: 1px solid #b9b9b9;
  border-left-color: #eee;
  background-color: #ccc;
  color:#333;
  padding: 5px;
  font-family: HelveticaMdC,sans-serif;
  font-size: 16px;
}

.calendar-date{
  border-right: 1px solid #b9b9b9;
  border-left: 1px solid #eee;
  height: 50px;
}

.calendar-month{
  font-size: 15px;
  padding-top: 2px;
  font-family: HelveticaMd,sans-serif;
  color: #666;
  height: 25px;
}

.calendar-year{
  font-size:12px;
  top: 1px;
  letter-spacing: 3px;
  position: relative;
  left: 1.5px;
  height: 25px;
}

.dayContainer{
  border-color: #ffffff;
}

#rightContainer{
  float: right;
  width: 90%;
  background-color: #eeeeee;
  position: relative;
}

.day-footer{
  width: 100%;
  background-color: #213a5d;
  display: block;
  float: right;
  clear: right;
}

#time-line{
  position:absolute;
  border-color:red;
  opacity: 0.5;
  width:100%;
  margin:0;
}

#day-slider{
  width: 96%;
  margin: 5px auto;
  height: 40px;
  border:1px solid #e6e2e2;
  overflow: hidden;
}

#target-day-box{
  width:50px;
  height:38px;
  border: 2px solid rgb(206,36,37);
  background-color: rgba(206,36,37,0.3);
  position:absolute;
  top:0;
  left:220px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  transition-timing-function: ease-out;
}

.day-slider-inner-container{
  text-align: center;
}

.day-box-number{
  font-family: HelveticaBdC,sans-serif;
  margin-right: 2px;
  font-size: 16px;
  color:#666;
}

.day-box-text{
  font-size: 8px;
  font-family: HelveticaMdC,sans-serif;
  color:#aaa;
}

.day-slider-box{
  display: inline-block;
  height: 38px;
  width: 50px;
  border: 1px solid #ccc;
  padding: 8px;
  margin-right: 5px;
  background-color: #f4f4f4;
}

.calendar-event{
  background-color: #ddd;
  margin: 0 1%;
  border: 1px solid #999;
  /*width: 98%;*/
}

.calendar-event-unvailable{
  background-color: rgba(179, 133, 220, 0.7);
  margin: 0 1%;
  border: 1px solid #999;
  /*width: 98%;*/
}

.event-header{
  text-align: right;
  color:#eee;
  font-family: HelveticaMd,sans-serif;
  font-size: 8px;
  letter-spacing: 1px;
  padding:1px 5px;
}
.event-header2{
  color:#eee;
  font-family: HelveticaMd,sans-serif;
  font-size: 8px;
  letter-spacing: 1px;
  padding:1px 5px;
  display: inline-block;
  width: 100%;
}
.event-body{
  padding:2px 5px;
  color:#fff;
  font-size: 12px;
}

.event-row{
  margin:0
}

.event-row-title{
  color:#666;
  text-transform: uppercase;
  font-family: HelveticaMd,sans-serif;
}
.event-row-title2{
  color:#FFF;
  text-transform: uppercase;
  font-family: HelveticaMd,sans-serif;
  padding-top: -3px;
}

#day-slider-container{
  padding:0;
  border-right: 1px solid #b9b9b9;
  border-left: 1px solid #eee;
}

#today-container{
  font-family: HelveticaMd,sans-serif;
  padding: 13px 5px 12px 0;
  font-size: 18px;
  color: #666;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid #b9b9b9;
  border-left: 1px solid #eee;
}

/*CUSTOMER -- APPOINTMENTS TAB*/

.shopData td {
  padding-left: 5px;
  padding-right: 5px;
}

.customerData td {
  padding-left: 5px;
  padding-right: 5px;
}

.invoiceData th {
  background-color: #e9e9e9;
  text-align: center;
  width: 16.6%;
}

.invoiceData td {
  text-align: center;
  width: 16.6%;
}

.invoiceCost th {
  background-color: #e9e9e9;
  text-align: center;
  width: 16.6%;
  border: solid;
  border-collapse: collapse;
  border-color: #c8c8c8;
  border-width: 1px;
}

.invoiceCost td {
  text-align: center;
  width: 16.6%;
  border: solid;
  border-collapse: collapse;
  border-color: #c8c8c8;
  border-width: 1px;
}

/*CUSTOMER -- APPOINTMENTS TAB DETAILS*/

.recommendedTable th {
  background-color: #e9e9e9;
  text-align: center;
  width: 16.6%;
  border: solid;
  border-collapse: collapse;
  border-color: #c8c8c8;
  border-width: 1px;
}

.recommendedTable td {
  text-align: center;
  width: 16.6%;
  border: solid;
  border-collapse: collapse;
  border-color: #c8c8c8;
  border-width: 1px;
}

.techProductsTable th {
  background-color: #e9e9e9;
  text-align: center;
  width: 16.6%;
  border: solid;
  border-collapse: collapse;
  border-color: #c8c8c8;
  border-width: 1px;
}

.techProductsTable td {
  text-align: center;
  width: 16.6%;
  border: solid;
  border-collapse: collapse;
  border-color: #c8c8c8;
  border-width: 1px;
}

/*Home*/
.containerLeft {
  float: left;
  height: 100%;
  width: 50%;
  display: block;
  position: relative;
}

.containerRight {
  float: right;
  height: 100%;
  width: 50%;
  display: block;
  position: relative;
}
.containerCenter{
  width: 80%;
  height: 800px;
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 70px;
  background-image: url("/img/bg2.jpg");
}
.containerLeftIni {
  float: left;
  height: 100%;
  width: 50%;
  display: block;
  position: relative;
}

.containerRightIni {
  float: right;
  height: 100%;
  width: 50%;
  display: block;
  position: relative;
}

.text-combo{
  float: right;
  height: 100%;
  width: 50%;
  display: block;
}

.textBox-header{
  height: 15%;
  width: 90%;
  background-color: #F4C33A;
  display: block;
}
.textBox{
  height: 78%;
  width: 90%;
  background: rgba(76,214,230,0.7);
  top: 0;
  display: block;
}

.title-properties{
  text-align: left;
  font-weight: 800;
  font-size: 20px;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 20px;
}

.text-properties{
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  margin: 30px;
  color: white;
}

.payment-text-box{
  float: right;
  margin-top: 100px;
  margin-right: auto;
}

.payment-text-properties{
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  margin: 30px;
  margin-left: 35px;
  color: #b9b9b9;
  line-height: 200%;
}

.payment-title-properties{
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
  color: #aaaaaa;
  margin-left: 10px;
  margin-right: 30px;
  padding-top: 20px;
  display: inline-block;
}

.containerLeft2 {
  float: left;
  height: 100%;
  width: 60%;
  display: block;
  max-width: 1200px;
  position: relative;
}

.containerRight2 {
  float: right;
  height: 100%;
  width: 40%;
  display: block;
  position: relative;
}

.containerLeft3 {
  float: left;
  height: 100%;
  width: 60%;
  display: block;
  max-width: 1200px;
}

.containerRight3 {
  float: right;
  height: 100%;
  width: 40%;
  display: block;
}

#iphone-style1{
  max-width: 65%;
  max-height: 65%;
  display: inline-block;
  margin-left: auto;
  margin-right: -50px;
  margin-top: 50px;
}

#iphone-style2{
  max-width: 80%;
  max-height: 80%;
  display: inline-block;
  margin-right: auto;
  margin-left: -50px;
  margin-top: 50px;
}
#iphone-images{
  margin-left: 100px;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  line-height: 150px;
  text-align: center;
  background-color: rgba(76,214,230,0.8);
  display: inline-block;
  z-index: 0;
  position: absolute;
  margin-left: 50px;
  margin-top: 40px;
}

#promo-1{
  max-width: 70%;
  max-height: 70%;
  display: inline-block;
  margin-left: auto;
  margin-right: -50px;
}

#promo-2{
  max-width: 80%;
  max-height: 80%;
  display: inline-block;
  margin-right: auto;
  margin-left: -50px;
}

#iphone-pago{
   max-width: 130%;
   max-height: 130%;
   margin-top: 45px;
   margin-left: 5%;
   float: left;
 }

.tendencias{
  margin-top: 40px;
}


#h1down{
  color:#fff;
  text-align: center;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#nav{
  background-color: rgba(0,0,0,0.7);
  right: 0;
  top: 0;
  left: 0;
  max-height: 75px;
  max-width: 100%;
  padding: 5px;
  position: fixed;
  z-index: 1;
}
.body{
  background-image: url("/img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  height: 5700px;
  width: 100%;
}

#inicio{
  width: 100%;
  height: 15%;
  display: block;
}

#firstFeature{
  width: 100%;
  height: 750px;
  display: block;
  background-color: #161616;
}
#secondFeature{
  width: 100%;
  height: 450px;
  display: block;
  background-color: #00b1c6;
}
#thirdFeature{
  width: 100%;
  height: 820px;
  display: block;
}
#fourthFeature{
  width: 100%;
  height: 940px;
  display: block;
  background-color: #161616;
  background-attachment: fixed;
}

#fifthFeature{
  width: 100%;
  height: 500px;
  display: block;
}
#sixthFeature{
  width: 100%;
  height: 800px;
  display: block;
  background-color: #161616;
}

#descargar{
  width: 100%;
  height: 400px;
  display: block;
}

#footer{
  width: 100%;
  height: 200px;
  display: block;
  background-color: #111111;
}

#h1descargar{
  color:#fff;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  margin-top: 0;
  font-size: 32px;
  font-family: Open Sans, sans-serif;
  font-weight: bolder;
}

#mobileApp{
  max-width: 75%;
  max-height: 75%;
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation-name: mymoveRight;
  animation-duration: 3s;

}

.carousel-container{
  width: 50%;
  height: 50%;
  margin: 0 auto;
  padding-top: 10%;
}

#mobile{
  margin-top:-80px;
  max-width: 130%;
  max-height: 130%;
}


@keyframes mymoveLeft {
  from {left:-100px; opacity: 0; display: none}
  to {left:0; opacity: 1; display: block}
}

@keyframes mymoveLeft2 {
  from {left:-300px; opacity: 0; display: none}
  to {left:0; opacity: 1; display: block}
}

@keyframes mymoveRight {
  from {right:-100px; opacity: 0; display: none}
  to {right:0; opacity: 1; display: block}
}

@keyframes mymoveRight2 {
  from {right:-300px; opacity: 0; display: none}
  to {right:0; opacity: 1; display: block}
}

@keyframes mymoveRotationRight {
  0% {transform: rotate(20deg);left:200px;}
  100% {transform: rotate(0deg);left:0;}
}

@keyframes mymoveBottom {
  from {bottom:-100px; opacity: 0; display: none}
  to {bottom:0; opacity: 1; display: block}
}

/*IPAD VERSION 1024X768*/

@media screen and (max-width: 1024px) {

  .body {
    background-image: url("/img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200vh;
    height: 5700px;
    width: 100%;
  }
  .containerLeftIni {
    float: left;
    height: 100%;
    width: 50%;
    display: block;
    position: relative;
  }

  .containerRightIni {
    float: right;
    height: 100%;
    width: 50%;
    display: block;
    position: relative;
  }

  #mobileApp {
    margin-top: 150px;
  }

  #iphone-style1 {
    max-width: 50%;
    max-height: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: -50px;
    margin-top: 50px;
  }

  #iphone-style2 {
    max-width: 65%;
    max-height: 65%;
    display: inline-block;
    margin-right: auto;
    margin-left: -50px;
    margin-top: 50px;
  }

  #promo-1 {
    max-width: 50%;
    max-height: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: -50px;
  }

  #promo-2 {
    max-width: 60%;
    max-height: 60%;
    display: inline-block;
    margin-right: auto;
    margin-left: -50px;
  }

  #iphone-pago {
    max-width: 100%;
    max-height: 100%;
    margin-top: 45px;
    margin-left: 2%;
    float: left;
  }

  .payment-text-box {
    float: right;
    margin-top: 70px;
    margin-right: auto;
  }

  .text-combo {
    float: right;
    height: 100%;
    width: 60%;
    display: block;
  }

  .carousel-container {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding-top: 15%;
  }
}

/*IPAD VERSION 768x1024*/

@media screen and (max-width: 768px) {
  .containerLeftIni {
    float: left;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
  }

  .containerRightIni {
    float: right;
    height: 100%;
    width: 50%;
    display: none;
    position: relative;
  }

  #mobile{
    margin-top:-80px;
    max-width: 80%;
    max-height: 80%;
  }

  #iphone-style1{
    max-width: 45%;
    max-height: 45%;
    display: inline-block;
    margin-left: auto;
    margin-right: -50px;
    margin-top: 80px;
  }

  #iphone-style2{
    max-width: 55%;
    max-height: 55%;
    display: inline-block;
    margin-right: auto;
    margin-left: -50px;
    margin-top: 80px;
  }

  #iphone-images{
    margin-left: 50px;
  }
  .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    line-height: 150px;
    text-align: center;
    background-color: rgba(76,214,230,0.8);
    display: inline-block;
    z-index: 0;
    position: absolute;
    margin-left: 30px;
    margin-top: 70px;
  }
  .containerLeft2 {
    float: left;
    height: 100%;
    width: 60%;
    padding-left: 10px;
    display: block;
    max-width: 1200px;
    position: relative;
  }
  #promo-1{
    max-width: 60%;
    max-height: 60%;
    display: inline-block;
    margin-left: auto;
    margin-right: -50px;
  }

  #promo-2{
    max-width: 70%;
    max-height: 70%;
    display: inline-block;
    margin-right: auto;
    margin-left: -50px;
  }
  #mobile{
    margin-top:30px;
    max-width: 80%;
    max-height: 80%;
  }
  #thirdFeature{
    width: 100%;
    height: 500px;
    display: block;
  }
  .body{
    background-image: url("/img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200vh;
    height: 5380px;
    width: 100%;
  }
  #footer{
    width: 100%;
    height: 250px;
    display: block;
    background-color: #111111;
  }
  .text-combo{
    float: right;
    height: 100%;
    width: 95%;
    display: block;
    margin-right: 25px;
  }
  .textBox-header{
    height: 15%;
    width: 100%;
    background-color: #F4C33A;
    display: block;
    margin: 10px;
  }
  .textBox{
    height: 78%;
    width: 100%;
    background: rgba(76,214,230,0.7);
    top: 0;
    display: block;
    margin:10px;
  }
  #iphone-pago-span{
    max-width: 80%;
    max-height: 80%;
    margin-top: 150px;
    margin-left: 5%;
    float: left;
  }
  .containerRight3 {
    float: right;
    height: 100%;
    width: 50%;
    display: block;
  }
  .containerLeft3 {
    float: left;
    height: 100%;
    width: 50%;
    display: block;
    max-width: 1200px;
  }
  #h1descargar{
    color:#fff;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    font-size: 32px;
    font-family: Open Sans, sans-serif;
    font-weight: bolder;
  }

}
